.DS_Store
.dart_tool/

.packages
.pub/

.idea/
.vagrant/
.sconsign.dblite
.svn/

*.swp
profile

DerivedData/

.generated/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata

*.moved-aside

*.pyc
*sync/
Icon?
.tags*

build/
#.android/
#.ios/
.flutter-plugins
.flutter-plugins-dependencies
/gradlew
/gradlew.bat
/local.properties
/.android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.android/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/cache.properties
/.android/.gradle/5.6.2/javaCompile/classAnalysis.bin
/.android/.gradle/5.6.2/executionHistory/executionHistory.bin
/.android/.gradle/5.6.2/executionHistory/executionHistory.lock
/.android/.gradle/5.6.2/fileContent/fileContent.lock
/.android/.gradle/5.6.2/fileHashes/fileHashes.bin
/.android/.gradle/5.6.2/fileHashes/fileHashes.lock
/.gradle/5.6.4/fileHashes/fileHashes.lock
/.android/.gradle/5.6.2/gc.properties
/.gradle/vcs-1/gc.properties
/.android/.gradle/vcs-1/gc.properties
/.gradle/5.6.4/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.android/.gradle/5.6.2/javaCompile/jarAnalysis.bin
/.android/.gradle/5.6.2/javaCompile/javaCompile.lock
/.android/.gradle/5.6.2/fileChanges/last-build.bin
/.gradle/5.6.4/fileChanges/last-build.bin
/.android/.gradle/buildOutputCleanup/outputFiles.bin
/.android/.gradle/5.6.2/fileHashes/resourceHashesCache.bin
/.android/.gradle/5.6.2/javaCompile/taskHistory.bin
